name: Deploy to dev
on:
  push:
    branches:
      - '*'
      - '!master'
    paths:
      - .github/workflows/devdeploy.yaml
      - sykmeldingalerts-dev.yaml
jobs:
  deploy_dev:
    name: Deploy alert til dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@master
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-fss
          RESOURCE: sykmeldingalerts-dev.yaml
